$font-stack: 'Raleway', verdana;
$dashboard-font-stack: 'Roboto', arial;
$curvy-font: 'Lobster', arial;
$dashboard-curvy-font: 'Lobster Two', arial;
$accent-font-color: #F04155;
$header-bg-color: #FFF7BD;
$light-blue: rgb(0, 200, 248);
$off-black: #394949;
$light-grey: #b3b8bd;
$teal: rgb(89, 196, 197);
$yellow: rgb(255, 195, 60);
$beige: rgb(251, 226, 180);
$coral: #df6589;
$off-white: rgb(249, 247, 246);
$white: #FFF;
$perriwinkle: rgb(69, 70, 91);
$navy-blue: #1D2951;
//$navy-blue: #6B7A8F;
//$orange: #E55121;
//$orange: #FF383F;
$orange: #D8713A;
$dark-navy-blue: #15204A;
$light-navy-blue: #4D5981;
$inky-blue: rgb(11, 16, 41);
$caramel: rgb(197, 137, 64);
$tan: rgb(210, 168, 94);
$plum: rgb(142, 50, 91);
$grey-blue: #A9B7C0;
$blueberry: #6B7A8F;
$bg-grain: #D7CEC7;
$ox-blood: #76323F;
$dark-grey: #404D5B;
$very-light-blue: #BDC9F1;
$black: #000000;
$go-green: #32CD68;
$go-green-dark: #12AD48;
$transparent: rgba(237, 237, 237, .2);
$piggy-pink: rgba(246, 120, 125, 1);
$ice-lolly-tasted: rgba(100, 100, 255, 1);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 401px) {
    html, body {
      font-family: $font-stack;
      position: relative;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-size: 16px;
      letter-spacing: -1px;
      

    }

    .jumbotron {
      background-color: $navy-blue;
      color: $dark-grey;
      font-family: $font-stack;
      font-weight: 800;
      text-align: center;
      padding-bottom: 45px;
      margin: 0;
    }

    .jumbotron h1 {
      font-family: $font-stack;
      color: $very-light-blue;
      font-size: 4.5em;
      margin-top: 100px;
      margin-bottom: -10px;
    }

    .jumbotron small {
      color: $light-grey;
      font-size: 3em;
      text-transform: lowercase;
    }
    
    .btn-wrapper > a {
        text-decoration: none;
    }

    .btn-create-account, .btn-login {
      transition: all .1s;
      width: 180px;
      font-weight: 100;
      height: 45px;
      color: $orange;
      border: 2px solid $off-white;
      background-color: $navy-blue;
      border-radius: 5px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .btn-create-account:hover, .btn-login:hover {
      background-color: $very-light-blue;
    }

    .content {
      width: 100%;
      background-size: cover;
      padding: 0;
      margin: 0;
    } 

    .container {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      
    }
    
    .formParent {
      background-color: $off-white;
    }

    .features-container {
      height: 450px;
      background-color: $off-white;
    }
    
    .features-container > .featureBox {
      text-align: center;
      height: 100%;
    }
    
    .colFiller {
      height: 0;
    }
    
    .features-container > div > span {
      position: relative;
      top: 100px;
      font-size: 9em; 
    }
    
    .features-container > div > h1 {
      position: relative;
      top: 125px;
      color: $navy-blue;
      font-family: $font-stack;
      font-size: 2em;
    }
    
    .features-container > div > span.glyphicon-credit-card { color: $orange; }
    .features-container > div > span.glyphicon-bell { color: $orange; }
    .features-container > div > span.glyphicon-calendar { color: $orange; }
    
    .charts-preview {
      height: 600px;
      background-color: $off-white;
    }
    
    .login-container, .create-account-container {
      position: relative;
      width: 400px;
      top: 50px;
      margin: 0 auto;
      height: 600px;
    }
    
    .form-title {
      margin-bottom: 20px;
      padding: 10px;
    }
    
    .form-title > h1 {
      position: relative;
      z-index: 9999;
      color: $navy-blue;
      font-family: $font-stack;
      font-weight: 900;
      font-size: 4em;
      
    }
    
    .form-title > small {
      position: relative;
      z-index: 9999;
      font-family: $curvy-font;
      font-weight: 100;
      font-size: 2em;
      color: $light-grey;
      
    }

    .login-container > form, 
    .create-account-container > form {
      position: relative;
    }

    .input-wrapper {
      width: 100%;
    }
    
    .formGlyph {
      position: relative;
      transition: .1s all ease-out;
      background-color: $navy-blue;
      height: 2.1em;
      width: 2.1em;
      padding: .55em;
      float: left;
      margin: 0;
      color: $orange;
      font-size: 2.2em;
    }

    .focused-glyphicon {
      font-size: 2em;
      padding: .65em;
      height: 2.3em;
      width: 2.3em;
    }
    
    .txt-field {
      position: relative;
      z-index: 0;
      transition: .05s all;
      padding: 0;
      width: 15.625em;
      padding-left: 10px;
      margin-bottom: 50px;
      background-color: $white;
      color: $light-navy-blue;
      font-size: 1.2em;
      height: 3.906em;
      border: none; 
      border-bottom: 3px solid $navy-blue;
      
    }
    
    .txt-field-focused {
      //top: -3px;
      //height: 52px;
      border-bottom: 3px solid $go-green;
    }
    
    .txt-field-defocused-good {
      border-bottom: 3px solid $go-green;
    }
    
    .txt-field-defocused-bad {
      border-bottom: 3px solid red;
    }

    .btn-go, .btn-login-submit, .btn-create-account-submit {
      font-family: $font-stack;
      transition: all .1s;
      border: 3px solid $go-green;
      text-transform: lowercase;
      width: 10.7em;
      margin-bottom: 25px;
      height: 2.131em;
      position: relative;
      background-color: $off-white;
      font-weight: 100;
      font-size: 2.2em;
      color: $go-green;
      text-align: center;
      font-family: 'Lobster Two';
    }
    
    .btn-create-account-submit > span {
      top: 6px;
    }

    .btn-go:hover,
    .btn-create-account-submit:hover,
    .btn-login-submit:hover {
      cursor: pointer;
      background-color: $go-green;
      color: $off-white;
    }
    
    .btn-wrapper {  
      position: relative;
      top: 50px;
      margin: 0 auto;
      height: 45px;
      width: 500px;
      font-size: 16px;
      margin-bottom: 45px;
    }
    
    /*
     * Dashboard styles
     */
    .addBillWrapper {
      font-size: 12px;
    }
    
    table.table-striped {
      font-family: $dashboard-font-stack;
    }
}
@media (max-width: 400px) {
    html, body {
      font-family: $font-stack;
      position: relative;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-size: 16px;
      letter-spacing: -1px;

    }

    .jumbotron {
      background-color: $off-white;
      color: $dark-grey;
      font-family: $font-stack;
      font-weight: 800;
      text-align: center;
      height: 400px;
    }

    .jumbotron h1 {
      //font-family: $curvy-font;
      //letter-spacing: 3px;
      font-family: $font-stack;
      font-weight: 100;
      font-size: 4.5em;
      margin-top: 100px;
      margin-bottom: -10px;
    }

    .jumbotron small {
      color: $light-grey;
      font-size: 3em;
    }


    .content {
      width: 100%;
      background-size: cover;
      padding: 0;
      margin: 0;
    } 

    .container {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    .login-container, .create-account-container {
      position: relative;
      width: 300px;
      top: 20%;
      margin: 0 auto;
      height: 400px;
    }
    
    .form-title {
      margin-bottom: 15px;
    }
    
    .form-title > h1 {
      position: relative;
      font-family: $font-stack;
      font-weight: 900;
      font-size: 3em;
      
    }
    
    .form-title > small {
      position: relative;
      font-family: $curvy-font;
      font-weight: 100;
      font-size: 2em;
      color: $light-grey;
      
    }

    .login-container > form, 
    .create-account-container > form {
      position: relative;
    }

    .login-container > form > label,
    .create-account-container > form > label {
      width: 100%;
      font-weight: 100;
      font-family: $font-stack;
      color: $navy-blue;
    }

    .txt-field {
      width: 100%;
      padding-left: 10px;
      margin-bottom: 25px;
      height: 35px;
      border: none;
      border-bottom: 3px solid $navy-blue;
    }

    .btn-go, .btn-login-submit{
      font-family: $font-stack;
      border: none;
      width: 100%;
      margin-bottom: 25px;
      height: 35px;
      position: relative;
      margin-top: 15px;
      background-color: $go-green;
      color: $white;
    }

    .btn-wrapper {  
      position: relative;
      top: 50px;
      margin: 0 auto;
      height: 45px;
      color: $inky-blue;
      width: 400px;
      font-size: 16px;
    }

    .btn-wrapper > a {
        text-decoration: none;
    }


    .btn-create-account, .btn-login {
      transition: all .2s;
      width: 180px;
      font-weight: 900;
      height: 45px;
      border: 3px solid $inky-blue;
      border-radius: 5px;
    }

    .btn-create-account:hover, .btn-login:hover {
      background-color: $inky-blue;
    }

}